
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}




.container{
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
}

.changeSize{
  margin: 8px auto 16px;
}