
body{
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.controls{
  background-color: aqua;
  position: absolute;
  left: 20px;
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: min(100vh, 100vw);
  height: min(100vh, 100vw);
  justify-content: center;
}

.cell{
  background-color: pink;
  border: 1px solid black;
  box-sizing: border-box;
}

button {
  margin: 8px auto 16px;
}